<div id="content">
	<% if user_signed_in? %>
	 	<p>Loading... </p>
	<% else %>
	<div class="hero-unit ">
  		<h1>Thales</h1>
  		<p></p>
  		<p class="lead">Thales é um Objeto de Aprendizagem Matemático voltado ao ensino/aprendizado dos conceitos <br /> 
  		   de Segmentos Proporcionais e Teorema de Thales.</p>
  		<p class="lead">O aprendiz tem acesso a conteúdos explicativos e exercícios sobre Segmentos Proporcionais e <br /> 
  		   Teorema de Tales.  </p>
  		<p class="">
    		<a class="btn btn-inverse btn-large" href="/users/sign_in">
      		Iniciar
    		</a>
  		</p>
  	<% end %>	
	</div>
</div>
